[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/Timers_lib"]
	path = external/Timers_lib
	url = https://github.com/McEnigma24/Timers_lib.git
